html,
body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    flex: 1;
    text-align: left;
}

.header-logo img {
    transition: filter 0.3s ease;
    /* Transición suave para el hover */
}

.header-logo img:hover {
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 2));
    /* Sombra menos difuminada */
}

.header-menu {
    padding: 0.1rem;
    flex: 3;
    text-align: center;
    max-width: 400px;
    background-color: lightblue;
    border-radius: 1rem;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* Elimina el margen predeterminado del ul */
    display: flex;
    /* Usa flexbox para alinear los elementos horizontalmente */
    justify-content: space-between;
    /* Centra los elementos horizontalmente */

}

.header-menu ul li {
    margin: 0 0.2rem;
    /* Ajusta el espacio horizontal entre elementos */
}

.header-menu ul a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.4rem;
    display: inline-block;
    /* Asegura que el padding se aplique correctamente */
    transition: all 0.3s ease;
    /* Aplica una transición suave a todas las propiedades */
}

.header-menu ul a:hover {
    color: white;
    background-color: blue;
}

.header-btn-contacto {
    flex: 1;
    text-align: right;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #eaeaea;
}




/* Estilos del menú hamburguesa */
.hamburguesa {
    display: none;
    cursor: pointer;
}

.hamburguesa div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

/* Oculta el menú en pantallas pequeñas */
@media (max-width: 600px) {
    header {
        justify-content: space-between;
    }

    .header-menu,
    .header-btn-contacto {
        display: none;
    }

    .hamburguesa {
        display: block;
        order: 2;
        /* Mueve el hamburguesa al final */
    }

    /* Menú desplegable */
    .menu-desplegable {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        background-color: #f8f8f8;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .menu-desplegable a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }

    .menu-desplegable.show {
        display: block;
    }
}